<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="DocFalcon PHP Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>